<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>processing</string>
	</array>
    <key>NSHealthShareUsageDescription</key>
    <string>This app requires access to your step count data to track your daily activity.</string>
    <key>NSMotionUsageDescription</key>
    <string>We need access to motion data to count your steps and encourage physical activity.</string>
    <key>NSHealthUpdateUsageDescription</key>
    <string>This app needs to save your workout data to HealthKit for comprehensive health tracking.</string>

</dict>
</plist>
